---
- name: Borgmatic - Get OS specific vars
  include_vars: "{{ item }}"
  with_first_found:
    - "os/{{ ansible_facts['os_family'] }}/{{ ansible_facts['distribution_major_version'] }}.yaml"
    - "os/{{ ansible_facts['os_family'] }}.yaml"

- name: Borgmatic - Install and configure
  when: borgmatic_enabled | default(true)
  block:
    - include_tasks: install.yaml
    - include_tasks: config.yaml
    - include_tasks: init.yaml

- name: Borgmatic - Uninstall and clean up
  when: not borgmatic_enabled | default(true)
  block:
    - include_tasks: uninstall.yaml
